include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/sk_demo *.html *.json *.js *.less *.css *.mo *.yml *.yaml *.cfg *.toml
recursive-include ckanext/sk_demo/migration *.ini *.py *.mako
